h1, h2, h3 {
    line-height: 18px!important;
}

.icon-remove-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity:0.5;
}

.icon-remove:hover{
	opacity:0.9;
}

.report_tabs{
	width:20%;
	word-break:normal;
}

#msgpost{
    width: 530px;
    height: 200px;
}

.btn_mg{
	cursor: default;
}

.manage_issue .btn_mg, .manage_issue .dropdown-toggle{
	margin-bottom: 1em;
}

.issue_menu{
	top:30px;
}

#addIssueModal .modal-body{
	padding-bottom: 10em;
}

.alert{
	display: none;
}