<!doctype html>
<html lang="en" ng-app="myApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PWC</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
    <script src="js/include.js"></script>

<script language="javascript" type="text/javascript">
      angular.module('myApp', ['ngResource']);
      function MainCtrl($scope,$resource){
      
        $scope.gaEvent = function($event){
          $scope.clicked = $event.target.name;
          //Call your own backend to log an event.
          $scope.log_event($scope.clicked);
        };
        
        $scope.backend_locations = [
          {url : 'code-comparison.appspot.com', urlName : 'remote backend' },       
          {url : 'linkagepwc.appspot.com', urlName : 'pwc' },  
          {url : 'localhost:8080', urlName : 'localhost' } ];

        $scope.showdetails = false;
        $scope.apikey = "pwc";
        
        //Replace this url with your final URL from the SingPath API path. 
        //$scope.remote_url = "localhost:8080";
        //$scope.remote_url = "code-comparison.appspot.com";
        $scope.remote_url = "linkagepwc.appspot.com";
        $scope.model = "project";
        $scope.waiting = "Ready";
        
        $scope.item = {};
        $scope.item.data = {"project": "ABC",
                            "manager": "Andy",
                            "partner": "Jane",
                            "industry": "Hospital",
                            "sDate": "2011/03/05",
                            "eDate": "2011/04/05"
                           };
        
        //resource calls are defined here

        $scope.Model = $resource('http://:remote_url/:apikey/:model_type/:id',
                                {},{'get': {method: 'JSONP', isArray: false, params:{callback: 'JSON_CALLBACK'}}
                                   }
                            );

        $scope.update = function(id){
          $scope.UpdateResource = $resource('http://:remote_url/:apikey/:model/:id', 
                        {"remote_url":$scope.remote_url,"apikey":$scope.apikey,"model":$scope.model, "id":id }, 
                        {'update': { method: 'PUT',    params: {} }});
          
          var item = new $scope.UpdateResource($scope.item.data);
          $scope.waiting = "Loading";
          item.$update(function(response) { 
                  $scope.item = response;
                  $scope.list();
                  $scope.waiting = "Ready";
                });
        };
        
        $scope.add = function(){
          $scope.SaveResource = $resource('http://:remote_url/:apikey/:model', 
                        {"remote_url":$scope.remote_url,"apikey":$scope.apikey,"model":$scope.model}, 
                        {'save': { method: 'POST',    params: {} }});
       
          $scope.waiting = "Loading";
          var item = new $scope.SaveResource($scope.item.data);
          $scope.item = item.$save(function(response) { 
                  $scope.item = response;
                  $scope.list();
                  $scope.waiting = "Ready";
                }); 
        };
        
        $scope.list = function(){
          data = {'remote_url':$scope.remote_url,
                  'model_type':$scope.model,
                  'apikey':$scope.apikey
                 }
          $scope.waiting = "Updating";       
          $scope.Model.get(data,
                function(response) { 
                  $scope.items = response;
                  $scope.waiting = "Ready";
                });  
        };
                
        $scope.load = function(id){
          data = {'remote_url':$scope.remote_url,
                  'model_type':$scope.model,
                  'apikey':$scope.apikey, 
                  'id': id
                }
          $scope.waiting = "Loading";
          $scope.Model.get(data, 
              function(response){   
                  $scope.item = response;
                  $scope.item_data = $scope.item.data;
                  $scope.waiting = "Ready";  
              });        
        };
        
       //To add key/value pairs when creating new objects
        $scope.add_key_to_item = function(){
          $scope.item.data[$scope.newItemKey] = $scope.newItemValue;
          $scope.newItemKey = "";
          $scope.newItemValue = "";
        };
        
        $scope.get_metadata = function(){
          data = {'remote_url':$scope.remote_url,
                  'model_type':"metadata",
                  'apikey':$scope.apikey
                 }
          $scope.waiting = "Updating";       
          $scope.Model.get(data,
                function(response) { 
                  $scope.metadata = response;
                  $scope.waiting = "Ready";
                });  
        };
        
        $scope.log_event = function(project){
          data = {'remote_url':$scope.remote_url,
                  'model_type':"log",
                  'apikey':$scope.apikey, 
                  'obj': JSON.stringify({"project":project})
                }
          $scope.Model.get(data, 
              function(response){
                  $scope.last_log = response;
              });
        
        };
        
        $scope.list();         
      }
    </script>


</head>
<body ng-controller="MainCtrl" ng-click="gaEvent($event)">

<div class="container">
    <div class="header row"></div>

  <div class="content">
    <div class="navbar"></div>
    <form name="form1" method="post" action="add_tasks.html">
      <fieldset>
        <legend>Create Project</legend>
        <div class="span4">
            <label for="proj_name">Project Name:</label>
            <input type="text" name='proj_name' id='proj_name' ng-model="item.data.project"  required>
            <label>Project Manager: </label>
            <input type="text" name='proj_mgr' id='proj_mgr' ng-model="item.data.manager" required>
            <label>Partner: </label>
            <input type="text" name='partner' id='partner' ng-model="item.data.partner" required>
            <label>Industry: </label>
            <input type="text" name='industry' id='industry' ng-model="item.data.industry" required>
        </div>
        <div class="span4">
            <label>Start Date</label>
            <input type="text" id="datepicker1" ng-model="item.data.sDate">
            <label>End Date</label>
            <input type="text" id="datepicker2" ng-model="item.data.eDate">
            <br /> <br />
            <button ng-click="add()" type="submit" class="btn btn-success">Next</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="footer">
    <p>Copyright 2010-2013 PricewaterhouseCoopers. All rights reserved. </p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
<script>
$(function() {
    $( "#datepicker1" ).datepicker();
	$( "#datepicker2" ).datepicker();
  });
$(document).ready(function(){
	$("#project").addClass("active");
});
</script>
</html>
