<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWC</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="css/report.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/include.js"></script>
    <!-- Skin CSS file -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/skin.css">
    <link rel="stylesheet" type="text/css" href="css/table-editor.css">
    <!-- Utility Dependencies -->
    <script src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
    <script src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
    <!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
    <script src="http://yui.yahooapis.com/2.9.0/build/container/container_core-min.js"></script>
    <script src="http://yui.yahooapis.com/2.9.0/build/menu/menu-min.js"></script>
    <script src="http://yui.yahooapis.com/2.9.0/build/button/button-min.js"></script>
    <!-- Source file for Rich Text Editor-->
    <script src="http://yui.yahooapis.com/2.9.0/build/editor/editor-min.js"></script>
    <script src="js/table-editor.js" language="javascript" type="text/javascript"></script>
</head>

<body class="yui-skin-sam" ng-controller="IssueCtrl">

<div class="container">
    <div class="header row"></div>

  <div class="content">
    <div class="navbar"></div>
      <h1> <font class="proj_title">Project FYP </font>
        <a href="report.html" class="btn btn-info">Back to Report</a>
        <a class="btn gen_btn">Generate Report >></a>
      </h1>
      <hr/>
      <div class="btn-group manage_issue">
        <a class="btn btn_mg"><i class="icon-briefcase"></i> Manage Issue</a>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu issue_menu">
          <li class="edit_issue"><a href="#addIssueModal" role="button" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
          <li class="delete_issue" ng-click="delete()"><a><i class="icon-trash"></i> Delete</a></li>
          <li class="divider"></li>
          <li class="add_issue"><a href="#addIssueModal" role="button" data-toggle="modal"><i class="icon-plus"></i> Add Issue</a></li>
        </ul>
      </div>
      <div class="tabbable tabs-left">
          <ul class="nav nav-tabs report_tabs">
            <li class="issue{{issue.id}}" ng-repeat="issue in issues"><a href="#issue{{issue.id}}" data-toggle="tab"> {{issue.title}} {{issue.subissue}}</a></li>
          </ul>
          
        <div class="tab-content">
          <div class="tab-pane" id="issue{{issue.id}}" ng-repeat="issue in issues">
            <h2> {{issue.title}} {{issue.subissue}}</h2> <br />
            <h5>Description</h5>
            <textarea name="msgpost{{issue.id}}1" id="msgpost{{issue.id}}1">
              {{issue.desc}}
            </textarea><br />
            <button class="btn save_btn">Save</button>
            <h5>Implications</h5>
            <textarea name="msgpost{{issue.id}}2" id="msgpost{{issue.id}}2">
              {{issue.impli}}
            </textarea><br />
            <button class="btn save_btn">Save</button>
            <h5>Recommendations</h5>
            <textarea name="msgpost{{issue.id}}3" id="msgpost{{issue.id}}3">
              {{issue.recom}}
            </textarea><br />
            <button class="btn save_btn">Save</button>
            <h5>Management Comments</h5>
            <textarea name="msgpost{{issue.id}}4" id="msgpost{{issue.id}}4">
               {{issue.comment}}
            </textarea><br />
            <button class="btn save_btn">Save</button>
          </div>
          
        </div>
      </div>
    <!-- end .content --></div>
    <div id="addIssueModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Create Issue</h3>
      </div>
      <div class="modal-body">
        <div class="alert fade in">
          Please enter an issue title to add issue, or click cancel.
        </div>
        <p>
          <div class="input-append">
            <input class="span2" id="issue_input" type="text" placeholder="Issue" ng-model="curr_issue.title">
            <div class="btn-group">
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                Issue
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Issue A</a></li>
                <li><a href="#">Issue B</a></li>
                <li><a href="#">Issue C</a></li>
              </ul>
            </div>
          </div>
          <br/>
          <div class="input-append">
            <input class="span2" id="subissue_input" type="text" placeholder="Sub-issue" ng-model="curr_issue.subissue">
            <div class="btn-group">
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                Sub-Issue
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Sub-issue A</a></li>
                <li><a href="#">Sub-issue B</a></li>
                <li><a href="#">Sub-issue C</a></li>
              </ul>
            </div>
          </div>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="add_issue" ng-click="add()">Add Issue</button>
        <button class="btn btn-primary" id="update_issue" data-dismiss="modal" aria-hidden="true" ng-click="update()">Update Issue</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  <div class="footer">
    <p>Copyright 2010-2013 PricewaterhouseCoopers. All rights reserved. </p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
</body>

    <script src="js/issue.js"></script>
</html>
