<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PWC Linkage</title>
	<link href="css/main.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
  <link href="css/profile.css" rel="stylesheet" type="text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="js/webgl-heatmap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
  <script src="js/include.js"></script>
  <script src="js/profileController.js"></script>
<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body ng-controller="BackendController">

<div class="container">
  <div class="header row"></div>

  <div class="content">
  	<div class="navbar"></div>
    <div class="row">
         <fieldset class="noti_sidebar span3 hidden-phone">
            <div class="left-column">
              <h4 align="center"> <font class="quot">“</font> {{view.data.fullname}} <font class="quot">”</font></h4> 
              <b>Username:</b> {{view.data.username}}<br/> 
  	          <b>Position:</b> {{view.data.role}}<br/>
              <b>No. of Tasks:</b> {{tasks.length}}<br/>
  	          <b>Skillset:</b>
                <abbr ng-show="!view.data.skills.length" title="click edit info to add some skills.">No skill added</abbr>
  	          <ul>
                <li ng-repeat="item in view.data.skills">{{item}}</li>
  	          </ul>
              <div class="btn-group pull-right" ng-show="username == view.data.username">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="icon-user"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="edit_info" href="#editdetails" data-toggle="modal"><i class="icon-edit"></i>  Edit Info</a></li>
                  <li><a class="change_pwd" href="#changepassword" data-toggle="modal"><i class="icon-lock"></i> Change Password</a></li>
                </ul>
              </div>
              <a class="btn pull-right" href="#msg" data-toggle="modal" ng-show="username != view.data.username"><i class="icon-envelope"></i>  Message</a>
         </fieldset>
                          
         <div class="span8 schedule_summary">
            <div class="tabbable">
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab1" data-toggle="tab">Current TaskSchedule</a></li>
			    <li><a href="#tab2" data-toggle="tab">History Projects</a></li>
			  </ul>
			  <div class="tab-content">
			    <div class="tab-pane active" id="tab1">
            <p ng-show="tasks.length == 0">There is no tasks currently.</p>
			      <table class="table table-bordered" ng-show="tasks.length != 0">
		         	  <thead>
		         	  	<tr>                      
			         	  	<th class="proj_col" style="width: 29%"></th>
			         	  	<th style="width: 10%">Today</th>
			         	  	<th style="width: 10%">
                      <script type="text/javascript">
                      var mydate= new Date()
                      mydate.setDate(mydate.getDate()+1)
                      document.write(+mydate.getDate()+" / "+(mydate.getMonth()+1));
                      </script>                                                                                                       
                  </th>
                  <th style="width: 10%">
                  <script type="text/javascript">
                      var mydate= new Date()
                      mydate.setDate(mydate.getDate()+2)
                      document.write(+mydate.getDate()+" / "+(mydate.getMonth()+1));
                      </script>   
                  </th>
                  <th style="width: 10%">
                      <script type="text/javascript">
                      var mydate= new Date()
                      mydate.setDate(mydate.getDate()+3)
                      document.write(+mydate.getDate()+" / "+(mydate.getMonth()+1));
                      </script>    
                  </th>
                  <th style="width: 10%">
                      <script type="text/javascript">
                      var mydate= new Date()
                      mydate.setDate(mydate.getDate()+4)
                      document.write(+mydate.getDate()+" / "+(mydate.getMonth()+1));
                      </script>
                  </th>
                  <th style="width: 10%">
                      <script type="text/javascript">
                      var mydate= new Date()
                      mydate.setDate(mydate.getDate()+5)
                      document.write(+mydate.getDate()+" / "+(mydate.getMonth()+1));
                      </script>
                  </th>
                  <th style="width: 10%">
                      <script type="text/javascript">
                      var mydate= new Date()
                      mydate.setDate(mydate.getDate()+6)
                      document.write(+mydate.getDate()+" / "+(mydate.getMonth()+1));
                      </script>
                  </th>
		         	  	</tr>
		         	  </thead>
		              <tr ng-repeat="item in tasks">
		                <td class="task_col"><a ng-click="linkTask(item.project)"><b>{{item.project}}</b> - {{item.name}}</a></td>
                    <td ng-repeat="n in [1,2,3,4,5,6,7]" class="{{item.workday.indexOf(n)>=0 && 'marked' || ''}}">
                      <i class="icon-briefcase" ng-show="item.workday.indexOf(n)>=0"></i>
                    </td>
		              </tr>
		            </table>
                <p><a href="my_schedule.html" class="btn pull-right disabled"><i class="icon-circle-arrow-right" ></i>  Go To My Schedule</a></p>
			    </div>
			    <div class="tab-pane" id="tab2">
			      <p>No History Projects.</p>
			    </div>
			  </div>
			</div>
         </div>
      </div>
  </div>
  <div class="modal hide fade" id="editdetails">
     <div class="modal-header"><h3>Edit Details</h3></div>
      <div class="modal-body">
      <label>Name: </label>
        <input type="text" value= {{view.data.fullname}} class="span3 input_issue" id="appendedDropdownButton" ng-model="view.data.fullname"><br>
        <div class="text-error">{{change_fullname_error}} </div>
        <label>Skillset:</label>
        <div class="input-append">
          <input type="text" class="span3 input_issue" id="appendedDropdownButton" ng-model="view.newskillset" placeholder="Enter your skill and press ---->">
          <button class="btn" type="button" ng-click="add_skill()"><i class="icon-plus"></i></button>
        </div>
          <div class="text-error">{{add_skill_error}} </div>
        <ul class="skill_list">
          <li ng-repeat="item in view.data.skills"><span class="label label-info">{{item}} <i class="icon-remove icon-white" ng-click="delete_skill(item)"></i></span></li>
        </ul>
      </div>
        <br>
        <div class="modal-footer">
            <a href="#" class="btn close_btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary save_btn" ng-click="details_change()">Save Changes</a>
        </div>
    </div>
    <div class="modal hide fade" id="changepassword">
      <div class="modal-header"><h3>Change Password</h3></div>
        <div class="modal-body">
          <div class="alert"><button type="button" class="close" data-dismiss="alert">&times;</button>After changing your password, you will be signed out.</div>
          <label>Enter old Password: </label>
          <input type="password" ng-model="view.old_pwd"><br>
          <div class="text-error">{{old_pwd_error}} </div>
          <label>Enter new Password: </label>
          <input type="password" ng-model="view.new_pwd"><br>
          <div class="text-error">{{new_pwd_error}} </div>
          <label>Re-enter new Password: </label>
          <input type="password" ng-model="view.con_pwd"><br>
          <div class="text-error">{{con_pwd_error}} </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn close_btn" data-dismiss="modal">Close</a>
          <a href="#" class="btn btn-primary save_btn" ng-click="pwd_change()">Save Changes</a><br>
        </div>
    </div>
    </div>
     </div>
    
    
  <div class="footer">
    
    <!-- end .footer --></div>
  <!-- end .container --></div>
  <div class="modal-backdrop"></div>
</body>
<script type="text/javascript">
$(document).ready(function(){
    
});
</script>
</html>
