<!doctype html>
<html lang="en" ng-app="myApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PWC</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>
<script src="js/include.js"></script>
<script src="js/completeProjectController.js"></script>

</head>

<body ng-controller="MainCtrl">

<div class="container">
   <div class="header row"></div>

  <div class="content">
    <div class="navbar"></div>
    <div class="hero-unit" ng-show="!items.entities.length ||  items.entities.length == 0">
      <p>There is no completed project.</p>
    </div>
            <table class="table" ng-show="items.entities.length ||  items.entities.length > 0">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Project</th>
                <th scope="col">Client</th>
                <th scope="col">Person In Charge</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
				        <th></th>
              </tr>
              <tbody ng-repeat="item in items.entities">
                <tr class="proj">
                  <td>{{item.id}}</td>
                  <td>{{item.data.project}}</td>
                  <td>{{item.data.partner}}</td>
                  <td>{{item.data.manager}}</td>
                  <td>{{item.data.sDate}}</td>
                  <td>{{item.data.eDate}}</td>
				          <td>
                    <a class="btn " data-toggle="modal" ng-click="delete(item['id'])"></i>  Delete</a>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="6">
                  <p>
                  <strong>Project: {{item.data.project}} </strong>
                  <br/>
                  <strong>Project Manager: </strong> 
                  {{item.data.manager}}
                  <br/>
                  <strong>Project Members: </strong>
                  {{item.data.resp.join(", ")}} 
                  <br/>
                  <strong>Duration: </strong>
                  {{item.data.sDate}} to {{item.data.eDate}} : {{duration(item.data.sDate,item.data.eDate)}}days<br/>
                  
                  </p>
                  <div class="btn-toolbar">
                  <a class="btn btn-primary" ng-click="linkTask(item.data.project)">Tasks</a>
                    <div class="btn-group">
                      <a href="report.html" class="btn">Report</a>
                      <a href="issues.html" class="btn">Issues</a>
                    </div>
                  </div>
                  </td>
                </tr>
              </tbody>
            </table>
    <!-- end .content --></div>
  <div class="footer">
    <p>Copyright 2010-2013 PricewaterhouseCoopers. All rights reserved. </p>
    <!-- end .footer --></div>
	
	<div class="modal hide fade" id="editdetails">
     <div class="modal-header"><h3>Update Project Information</h3></div>
      <div class="modal-body">
      <label>Project: </label>
        <input type="text" value= {{item.data.project}} class="span3 input_issue" id="appendedDropdownButton" ng-model="item.data.project"><br>
      <label>Client: </label>
        <input type="text" value= {{item.data.partner}} class="span3 input_issue" id="appendedDropdownButton" ng-model="item.data.partner"><br>
      <label>Person in Charge: </label>
        <input type="text" value= {{item.data.manager}} class="span3 input_issue" id="appendedDropdownButton" ng-model="item.data.manager"><br>
      <label>Start Date: </label>
        <input type="text" id="datepicker1" ng-model="item.data.sDate"><br>
      <label>End Date: </label>
        <input type="text" id="datepicker2" ng-model="item.data.eDate"><br>
       </div>
        <br>
        <div class="modal-footer">
            <a href="#" class="btn close_btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary save_btn" ng-click="update(item.id)">Save Changes</a>
        </div>
      </div>
	
  <!-- end .container --></div>
</body>

</html>
