<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWC</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="css/report.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
    <script src="js/include.js"></script>
    <!-- Skin CSS file -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/skin.css">
    <link rel="stylesheet" type="text/css" href="css/table-editor.css">
    <!-- Utility Dependencies -->
    <script src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
    <script src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
    <!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
    <script src="http://yui.yahooapis.com/2.9.0/build/container/container_core-min.js"></script>
    <script src="http://yui.yahooapis.com/2.9.0/build/menu/menu-min.js"></script>
    <script src="http://yui.yahooapis.com/2.9.0/build/button/button-min.js"></script>
    <!-- Source file for Rich Text Editor-->
    <script src="http://yui.yahooapis.com/2.9.0/build/editor/editor-min.js"></script>
    <script src="js/table-editor.js" language="javascript" type="text/javascript"></script>

</head>

<body class="yui-skin-sam" ng-controller="BackendController">
<div class="container">
    <div class="header row"></div>

  <div class="content">
    <div class="navbar"></div>
            <h1> <font class="proj_title">Project FYP </font>
            	<a href="issues.html" class="btn btn-info">Appendix: Issues</a>
            	<a class="btn gen_btn">Generate Report >></a>
            </h1>
            <hr/>
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs report_tabs">
                  <li class="active executiveSummary"><a href="#executiveSummary" data-toggle="tab"> Executive Summary</a></li>
                  <li class="scopeOfWork"><a href="#scopeOfWork" data-toggle="tab"> Scope of Work</a></li>
                  <li class="limitations"><a href="#limitations" data-toggle="tab"> Limitations and Restrictions</a></li>
                  <li class="riskRatings"><a href="#riskRatings" data-toggle="tab"> Description of Risk Ratings</a></li>
                  <li class="findings"><a href="#findings" data-toggle="tab"> Findings and Recommendations</a></li>
                </ul>
                
              <div class="tab-content">
              	<div class="tab-pane active" id="executiveSummary">
                    <h2>1. Executive Summary</h2>
                    <textarea name="msgpost1" id="msgpost1">{{project.data.summary}}</textarea><br />
                    <button type="submit" class="btn save_btn" ng-click="update(project.id)">Save</button>
                </div>
                
              	<div class="tab-pane" id="scopeOfWork">
                    <h2>2. Scope of Work</h2>
                    <textarea name="msgpost2" id="msgpost2">{{project.data.scope}}</textarea><br />
                    <button type="submit" class="btn save_btn" ng-click="update(project.id)">Save</button>
                </div>
                
                <div class="tab-pane" id="limitations">
                    <h2>3. Limitations and Restrictions</h2>
                    <textarea name="msgpost3" id="msgpost3">{{project.data.limitation}}</textarea><br />
                    <button type="submit" class="btn save_btn" ng-click="update(project.id)">Save</button>
                </div>
                
                <div class="tab-pane" id="riskRatings">
                	<h2>4. Description of Risk Ratings</h2>
                    <p>A description of the risk ratings, which we used for categorizing our issues, is as follows:</p>
                    <textarea name="msgpost4" id="msgpost4">{{project.data.risk}}</textarea><br />
                    <button type="submit" class="btn save_btn" ng-click="update(project.id)">Save</button>
                </div>
                
                <div class="tab-pane" id="findings">
                    <h2>5. Findings and Recommandations</h2>
                    <textarea name="msgpost5" id="msgpost5">{{project.data.recommendation}}</textarea><br />
                    <button type="submit" class="btn save_btn" ng-click="update(project.id)">Save</button>
                </div>
                
                
              </div>
            </div>
    <!-- end .content --></div>
  <div class="footer">
    <p>Copyright 2010-2013 PricewaterhouseCoopers. All rights reserved. </p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
  <div class="modal-backdrop"></div>
</body>

    <script src="js/report_editor.js"></script>
</html>
