<!doctype html>
<html lang="en" ng-app="myApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PWC</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>
<script src="js/include.js"></script>
<script src="js/teamMember.js"></script>

</head>

<body ng-controller="MainCtrl">


<div class="container">
    <div class="header row"></div>


  <div class="content">
    <div class="navbar"></div>
         <form name="search" onSubmit="return findString(this.string.value);"> 
         
            <input name="string" type="text" size=12 onChange="n = 0;" placeholder ="Search username"> 

           
           </div>
       </form>

    <script language="JavaScript"> 
var TRange=null;

function findString (str) {
 if (parseInt(navigator.appVersion)<4) return;
 var strFound;
 if (window.find) {

  // CODE FOR BROWSERS THAT SUPPORT window.find

  strFound=self.find(str);
  if (!strFound) {
   strFound=self.find(str,0,1);
   while (self.find(str,0,1)) continue;
  }
 }
 else if (navigator.appName.indexOf("Microsoft")!=-1) {

  // EXPLORER-SPECIFIC CODE

  if (TRange!=null) {
   TRange.collapse(false);
   strFound=TRange.findText(str);
   if (strFound) TRange.select();
  }
  if (TRange==null || strFound==0) {
   TRange=self.document.body.createTextRange();
   strFound=TRange.findText(str);
   if (strFound) TRange.select();
  }
 }
 else if (navigator.appName=="Opera") {
  alert ("Opera browsers not supported, sorry...")
  return;
 }
 if (!strFound) alert (str+"' not found!")
 return;
} </script>
    

   




                
            <ul class="thumbnails">

             <div ng-repeat="item in items.entities">
             <li class="span4">

               
                <div class="thumbnail">
                  <div class="caption">
                      <form action="">
                         
                    <h3><a href="javascript:hyperlink1()">{{item.data.fullname}}</a></h3>

                     <h4>Current Projects: </h4>
                     <ul>
                <li ng-repeat="project in item.data.projects">{{project}}</li>
              </ul>
             

                   <script>
                   function hyperlink1(){
                      localStorage.setItem("viewname", "{{item.data.username}}");
                       window.location.href = 'profile.html';
                    }
                    </script>
                    

                    <h2><a href="grading.jsp" class="btn btn-primary">Data Analysis</a> <a class="btn edit_btn">Edit</a><a class="btn save_btn" style="display:none;">Save</a></h2>
                  </div>
                </div>
              </li>
           
            </ul>
    <!-- end .content --></div>
  <div class="footer">
    <p>Copyright 2010-2013 PricewaterhouseCoopers. All rights reserved. </p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
<script>
$(document).ready(function(e) {
    $(".edit_btn").click(function(e){
		$(this).parent().prev().prev().attr("contenteditable","true").focus();
		$(this).hide();
		$(this).next().show();
	});
	$(".save_btn").click(function(e){
		$(this).parent().prev().prev().attr("contenteditable","false");
		$(this).hide();
		$(this).prev().show();
	});
	$("#skillset").addClass("active");
});
var TRange=null;



                     
</script>
</html>
